/* .contact-section {
    min-height: 60rem ;
    background-color: #d5d2cb;
} */
.collap-button {
    margin-bottom: 3rem;
    
}
.real-footer {
    height: auto;
    text-align: center;
    padding: 1%;
}
.contact-subtitle {
    text-align: center;
}