@media only screen and (max-width: 800px) {
  .columns {
    flex-direction: column !important;
  }
  .column {
    width: auto !important;
    padding: 10% !important;
  }
  .column:nth-child(2) {
    border-width: 2px;
    border-right-style: none !important;
    border-left-style: none !important;
    border-color: #d3d3d3;
    border-top-style: dotted;
    border-bottom-style: dotted;
  }
}

.Skills-wrapper {
  /* max-width: fit-content; */
  padding-top: 5rem;
  padding-right: 1.5rem;
  padding-bottom: 5rem;
  padding-left: 1.5rem;
  justify-content: center;
  display: flex;
}
.section-skills {
  margin-top: -13rem;
  border-radius: 15px;
  background-color: white;
  justify-content: center;
  box-shadow: 0 2px 2px 0 rgb(#d3d3d3 / 50%), 0 0 0 1px #e6ecf8;
  border-width: 3px;
  border-style: solid;
  border-color: #d3d3d3;
}
.narrow-container {
  width: auto;
}
.columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0rem 0.1rem 1rem;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.column {
  display: flex;
  width: 30rem;
  flex-direction: column;
  text-align: center;
  padding: 5%;
  justify-content: flex-start;

  /* border-width: 0.2px;
    border-style: solid;
    border-color:#D3D3D3; */
  /* border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; */
}
.card-icon {
}
.column:nth-child(2) {
  border-width: 2px;
  border-right-style: dotted;
  border-left-style: dotted;
  border-color: #d3d3d3;
}
